{% extends "base.html" %}

{% block content %}
    <h1>{{ user.username }}'s Profile</h1>
    <p>This is a profile</p>
    <table>
        <tr>
            <td>First Name</td>
            <td>{{ user.first_name }}</td>
        </tr>
        <tr>
            <td>Last Name</td>
            <td>{{ user.last_name }}</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>{{ user.email }}</td>
        </tr>
        <tr>
            <td>Company</td>
            <td>{{ user.company }}</td>
        </tr>
        <tr>
            <td>Bio</td>
            <td>{{ user.bio }}</td>
        </tr>
    </table>

    {% if user == request.user %}
        <a href="{% url 'profile:edit' %}">Edit</a>
        <h2>Your Courses</h2>
        {% for course in user.courses.all %}
            <p>{{ course.name }}</p>
        {% endfor %}
    {% endif %}

{% endblock %}
