{% extends "base.html" %}

{% block content %}

<form method="post" action="{% url 'registration:login' %}" class="max-w-sm mx-auto">
{% if next %}
    {% if user.is_authenticated %}
        <div class="text-center p-4 mb-4 text-sm text-blue-800 rounded-lg bg-blue-50 dark:bg-gray-800 dark:text-blue-400" role="alert">
            <span class="font-medium">Not Enough Permissions.</span> Your account doesn't have access to this page. To proceed,
            please login with an account that has access.
        </div>
    {% else %}
        <div class="text-center p-4 mb-4 text-sm text-blue-800 rounded-lg bg-blue-50 dark:bg-gray-800 dark:text-blue-400" role="alert">
            <span class="font-medium">Login Required.</span> Please login to see this page.
        </div>
    {% endif %}
{% endif %}
    {% csrf_token %}
    <div class="mb-5">
      <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Username</label>
      <input name="{{ form.username.html_name }}" type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
    </div>
    <div class="mb-5">
      <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
      <input name="{{ form.password.html_name }}" type="password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
      {% if form.errors %}
          <p class="mt-2 text-sm text-red-600 dark:text-red-500"><span class="font-medium">Oops!</span> Incorrect username or password</p>
      {% endif %}
    </div>
    <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
    <input type="hidden" name="next" value="{{ next }}">
  </form>

{% endblock %}