{% load main_tags %}
{% load compress %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="A eLearning application for AWD Final Project">
    <title>LearnFast</title>

    {% compress css %}
    <link rel="stylesheet" href="{% static 'src/output.css' %}">
    {% endcompress %}
</head>

<body>
    {% include './main/nav/bar.html' %}
    
    <div class="container mt-4 max-w-sm mx-auto">
        {% block content %}
        {% endblock %}
    </div>
    
    <footer>
        <p>{% now "Y" %} LearnFast. AWD Final.</p>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js"></script>
</body>

</html>
