{% load main_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="A eLearning application for AWD Final Project">
    <title>LearnFast</title>
</head>

<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="{% url 'profile:list' %}">Users</a></li>
            <li><a href="{% url 'course:list' %}">Courses</a></li>
            {% if user.is_authenticated %}
                <li>
                    Welcome <a href="{% url 'profile:own' %}">{{ request.user }}</a> |
                    <a href="{% url 'profile:notifications' %}">{{ user|unread_notifications }} unread</a>
                </li>
                <li><a href="{% url 'registration:logout' %}">Logout</a></li>
            {% else  %}
                <li><a href="{% url 'registration:signup' %}">Sign Up</a></li>
                <li><a href="{% url 'registration:login' %}">Login</a></li>
            {% endif %}
        </ul>
    </nav>
    
    <main>
        {% block content %}Failed to render content{% endblock %}
    </main>
    
    <footer>
        <p>{% now "Y" %} LearnFast. AWD Final.</p>
    </footer>
</body>

</html>
