{% extends "base.html" %}
{% load main_tags %}

{% block content %}

<form class="max-w-sm mx-auto" method="post" enctype="multipart/form-data">
  <h2 class="text-2xl font-extrabold dark:text-white my-2">Add Feedback</h2>
  {% csrf_token %}

  <div class="mb-5">
    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Comment</label>
    <input type="text" name="{{ form.comment.html_name }}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
    {% if form.errors.comment %}
        <p class="mt-2 text-sm text-red-600 dark:text-red-500 font-medium">{{ form.errors.comment }}</p>
    {% else %}
        <p id="helper-text-explanation" class="mt-2 text-sm text-gray-500 dark:text-gray-400">Max. 100 characters</p>
    {% endif %}
  </div>
  
  <div class="mb-5">
    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Rating</label>
    <select name="{{ form.grade.html_name }}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
        <option value="" selected disabled>Select a rating</option>
        <option value="1">1 - ⭐</option>
        <option value="2">2 - ⭐⭐</option>
        <option value="3">3 - ⭐⭐⭐</option>
        <option value="4">4 - ⭐⭐⭐⭐</option>
        <option value="5">5  - ⭐⭐⭐⭐⭐</option>
    </select>
  </div>

  <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Add Feedback</button>
</form>
{% endblock %}




